WIX_CLIENT_ID=

# SMTP Configuration for Email Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@seudominio.com
SMTP_PASS=suasenha
SMTP_TO=seuemail@seudominio.com
SMTP_FROM=seuemail@seudominio.com